@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

body {
  background-color: var(--light-grayish-blue);
  font-family: Manrope, sans-serif;
  font-size: 13px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.card {
  width: 329px;
  height: 500px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

.drawer {
  width: 100%;
  height: 200px;
  background-image: url(/source/images/drawers.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

section {
  padding: 42px 32px 0 32px;
  height: 300px;
}

.text {
  color: var(--very-dark-grayish-blue);
  line-height: 1.5;
}

.text h3 {
  font-weight: 700;
  margin-bottom: 16px;
}

.text p {
  color: var(--desaturated-dark-blue);
  letter-spacing: .5px;
}

.content-footer {
  margin-top: 28px;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 173px;
  line-height: 1.5;
  z-index: 2;
  opacity: 0;
  transition: opacity 100ms ease;
  transition-delay: 200ms;
}

.detail {
  color: var(--very-dark-grayish-blue);
}

.name {
  font-weight: 700;
}

.date {
  font-size: 12px;
  opacity: .8;
}

.avatar {
  width: 40px;
  border-radius: 50%;
}

.share-button {
  background-color: var(--light-grayish-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 3;
  cursor: pointer;
}

.share-menu {
  width: 100%;
  height: 64px;
  position: relative;
  background-color: var(--very-dark-grayish-blue);
  bottom: 64px;
  opacity: 0;
  transition: opacity 200ms ease;
  transition-delay: 100ms;
}

.menu {
  width: 208px;
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 32px;
}

.share {
  letter-spacing: 4px;
  color: var(--grayish-blue);
  font-weight: 700;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.attribution {
  width: 100%;
  text-align: center;
}

.visible {
  opacity: 1;
  z-index: 2;
}

.down-invert {
  background-color: var(--desaturated-dark-blue);
}

.invert {
  fill: hsl(210, 46%, 95%);
}

@media (min-width: 768px) {
  .card {
    width: 730px;
    height: 282px;
    display: flex;
    position: relative;
    overflow: unset;
  }

  .drawer {
    width: 282px;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .share-menu {
    position: absolute;
  }

  section {
    width: 450px;
    padding: 42px 45px 0 45px;
  }

  .content-footer {
    margin-top: 20px;
  }

  .text h3 {
    font-size: 16px;
    letter-spacing: .5px;
  }

  .text p {
    margin-top: 20px;
    letter-spacing: 0;
  }

  .author {
    opacity: 1;
  }

  .share-menu {
    width: 238px;
    height: 48px;
    border-radius: 10px;
    left: 550px;
    bottom: 80px;
  }

  .menu {
    width: 100%;
    padding-left: 0;
    justify-content: space-around;
  }

  .share-menu::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid var(--very-dark-grayish-blue);
    position: absolute;
    top: 48px;
    left: 50%;
    transform: translateX(-50%);
  }
}